APP_PASSWORD=
DATABASE_URL=
NEON_CONNECTION_STRING_DEV_BRANCH=
ANTHROPIC_API_KEY=
ANTHROPIC_MODEL=claude-3-7-sonnet-latest
QUIZLET_SET_URL=https://quizlet.com/1131039212/french-vocab-nick-flash-cards/?i=706z49&x=1jqU
TRIGGER_SECRET_KEY=
TRIGGER_SECRET_KEY_DEV=
TRIGGER_PROJECT_ID=
CRON_SECRET=
